@model Web.Models.Home.LoginModel

<h1>Login page</h1>
<form asp-action="login" method="POST">
    <input asp-for="EmailAddress" />
    <input asp-for="Password" type="password" />
    <button type="submit">Go</button>
</form>