@page "{id:int}"
@model IndexModel

@using Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager

@{
    Model.TabTitle = Model.PageTitle = "Photo";
}

@if (signInManager.IsSignedIn(HttpContext.User))
{
    <a href="/photo/@(Model.Id)/edit">Edit</a>
}

<img src="@Model.ImageUrl" />

@section LeftPanel
{
    @if(!string.IsNullOrWhiteSpace(Model.Description))
    {
        <h3>Description</h3>
        <p>@Model.Description</p>
    }
    <h3>Taken at</h3>
    <time>@Model.TakenAt.ToString("MMM dd, yy HH:mm")</time>
}