@page "{id:int}"
@model IndexModel

@using Data.Models

@{
    Model.TabTitle = Model.PageTitle = "Photo";
}

@if(!string.IsNullOrWhiteSpace(Model.Description))
{
    <h3>Description</h3>
    <p>@Model.Description</p>
}
<h3>Taken at</h3>
<time>@Model.TakenAt.ToString("MMM dd, yy HH:mm")</time>

<img src="@Model.ImageUrl" />