@import './core/Normalize';
@import './core/Design';
@import './components/Images';
@import './components/Links';
@import './components/LeftNav';

.body {
    background-color: $std-background-color;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    color: $std-text-color;
    display: flex;
    font-family: $std-font-family;
    font-size: $std-font-size;
    align-items: stretch;

    @include for-mobile-and-down {
        display: block;
    }
}

.right-main {
    flex: 1;
    overflow-y: auto;
    padding: $std-padding;
}