@import './core/Normalize';
@import './core/Font';
@import './core/Colors';
@import './core/Design';
@import './components/Buttons';
@import './components/Images';
@import './components/Links';
@import './components/Text';

.body {
    background-color: $charcoal;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    color: $alice-blue;
    display: flex;
    font-family: $font-family;
    font-size: $font-size--standard;
    align-items: stretch;

    @include for-mobile-and-down {
        display: block;
    }
}

.left-nav {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 300px;
    padding: $standard-padding 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-right: $hover-panel__border;
    box-shadow: $hover-panel__shadow-offset 0 $hover-panel__shadow-blur $hover-panel__shadow-color,
                $hover-panel__shadow-offset $hover-panel__shadow-offset $hover-panel__shadow-blur $hover-panel__shadow-color,
                $hover-panel__shadow-offset (-$hover-panel__shadow-offset) $hover-panel__shadow-blur $hover-panel__shadow-color;

    @include for-mobile-and-down {
        border-right: none;
        border-bottom: $hover-panel__border;

        box-shadow: 0 $hover-panel__shadow-offset $hover-panel__shadow-blur $hover-panel__shadow-color,
                    (-$hover-panel__shadow-offset) $hover-panel__shadow-offset $hover-panel__shadow-blur $hover-panel__shadow-color,
                    $hover-panel__shadow-offset $hover-panel__shadow-offset $hover-panel__shadow-blur $hover-panel__shadow-color;
    }
    
    @include for-mobile-and-down {
        width: 100%;
    }
}

.right-main {
    flex: 1;
    overflow-y: auto;
    padding: $standard-padding;
}

.nav-img-link {
    width: #{5 * $standard-padding};
    height: #{5 * $standard-padding};
    border-radius: $image__border-radius;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;
}

.nav-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: $standard-padding $standard-padding $standard-padding 0;
    width: calc(100% - #{2 * $standard-padding});
    border-bottom: $hover-panel__border;
    margin-left: $standard-padding;

    .nav-link {
        width: 100%;
        &:not(:first-child) {
            margin-top: 0.5rem;
        }

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
}

.nav-title {
    font-size: 3rem;
    margin: 0 $standard-padding 0 0;
    padding: $standard-padding 0 $standard-padding $standard-padding;
    width: calc(100% - #{2 * $standard-padding});
    border-bottom: $hover-panel__border;
    text-align: center;
    color: $alice-blue;
    font-weight: bold;
}

.nav-sub-links {
    margin-top: auto;
    padding-top: $standard-padding;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .nav-sub-link {
        &:not(:first-child) {
            margin-top: 0.25rem;
        }

        &:not(:last-child) {
            margin-bottom: 0.25rem;
        }
    }
}

.pager-bar {
    border-top: $hover-panel__border;
    border-right: $hover-panel__border;
    border-left: $hover-panel__border;
    border-top-left-radius: $hover-panel__border-radius;
    border-top-right-radius: $hover-panel__border-radius;
    background-color: $charcoal;
    height: $pager-bar__height;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: #{-1 * $standard-padding};
}