@import './core/Normalize';
@import './core/Font';
@import './core/Colors';
@import './core/Design';
@import './components/Buttons';
@import './components/Images';

.body {
    background-color: $charcoal;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: $alice-blue;
    display: grid;
    font-family: $font-family;
    font-size: $font-size--standard;
    grid-template-columns: minmax(300px, 20%) 1fr;
}

.left-nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.right-main {
    overflow-y: auto;
    padding: $standard-padding;
}

.nav-icon-link {
    height: $header-height;
    flex-grow: 0;
    flex-shrink: 0;
}

.nav-hover-panel {
    padding: $standard-padding;
    flex-grow: 1;
    flex-shrink: 1;
    border-right: $hover-panel__border;
    border-top: $hover-panel__border;
    border-top-right-radius: $hover-panel__border-radius;
    box-shadow: (-$hover-panel__shadow-offset) $hover-panel__shadow-offset $hover-panel__shadow-blur $hover-panel__shadow-color,
                $hover-panel__shadow-offset $hover-panel__shadow-offset $hover-panel__shadow-blur $hover-panel__shadow-color,
                $hover-panel__shadow-offset (-$hover-panel__shadow-offset) $hover-panel__shadow-blur $hover-panel__shadow-color;
}