@import 'lib/colours';
@import 'lib/breakpoints';
@import 'lib/font';
@import 'lib/preset';

@include preset;

.body {
    background-color: $lighter-blue;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: $off-white;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-family: $font-family;
    font-size: $font-size--standard;
    position: relative;
    overflow: hidden;
}

.header {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: $darker-blue;
    border-right: 2px solid $off-white;
}