@import 'lib/colours';
@import 'lib/breakpoints';
@import 'lib/font';
@import 'lib/preset';

@include preset;

.body {
    background-color: $lighter-blue;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: $off-white;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-family: $font-family;
    font-size: $font-size--standard;
    position: relative;
    overflow: hidden;
}

.header {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: $darker-blue;
    border-right: 2px solid $off-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.header__separator {
    width: 100%;
    margin-top: auto;
    margin-bottom: 2rem;
}

.header__link {
    font-size: 1.25rem;
    color: $off-white;
    margin-top: 0.5rem;
}

.header__welcome-text {
    font-style: italic;
    font-weight: 1.25rem;
}

.header__home-link {
    $home-link-size: 10rem;
    font-size: 0px;
    width: $home-link-size;
    height: $home-link-size;
    max-width: 100%;
    border-radius: 50%;
    background-color: $lighter-blue;
    margin-bottom: 1rem;
}