@import '../core/Colors';

$button-border-width: 1px;
$button-border-radius: 0.25rem;

$button-primary-border-color: $orange-yellow-crayola;
$button-primary-background-color: $orange-yellow-crayola;
$button-primary-color: $charcoal;

$button-secondary-border-color: $orange-yellow-crayola;
$button-secondary-background-color: $charcoal;
$button-secondary-color: $orange-yellow-crayola;

.button {
    display: flex;
    padding: 1rem;
    border-radius: $button-border-radius;
    border-width: $button-border-width;
    text-decoration: none;

    &--primary {
        border-color: $button-primary-border-color;
        background-color: $button-primary-background-color;
        color: $button-primary-color;

        &:visited {
            color: $button-primary-color;
        }
    }

    &--secondary {
        border-color: $button-secondary-border-color;
        background-color: $button-secondary-background-color;
        color: $button-secondary-color;

        &:visited {
            color: $button-secondary-color
        }
    }
}