@import '../core/Design';

.left-nav {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: $left-nav-width;
    padding: $std-padding;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url("/assets/header-background.png");
    background-color: $std-background-color;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    
    @include for-mobile-and-down {
        width: auto;
    }
}

.left-nav__logo-link {
    width: #{$left-nav-width / 2};
    height: #{$left-nav-width / 2};
    border-radius: $std-border-radius;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;

    .logo-link__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.left-nav__title {
    margin: $std-padding 0 0 0;
    text-align: center;
    
    .title__link {
        color: $std-text-color;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: lighter;
        font-size: 2.75rem;
        font-family: $std-heading-font-family;
        
        &:visited {
            color: $std-text-color;
        }
    }
}

.left-nav__description {
    text-align: center;
    margin: #{$std-padding / 2} 0 0 0;
    font-weight: lighter;
    color: $std-text-color;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.left-nav__nav-links {
    width: 100%;
    margin-top: $std-padding;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;

    .nav-links__link {
        text-align: start;
        text-decoration: none;
        font-size: 1.5rem;
        font-family: $std-heading-font-family;

        &:not(:first-child) {
            margin-top: #{$std-padding / 4};
        }

        &:not(:last-child) {
            margin-bottom: #{$std-padding / 4};
        }
    }
}

.left-nav__footer {
    margin-top: auto;
    padding-top: $std-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .footer__description {
        margin-top: #{$std-padding / 2};
    }
}