@import '../core/Design';

.nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: $nav-link__color;

    &:visited {
        color: $nav-link__color;
    }
}

.text-link {
    text-decoration: none;
    color: $text-link__color;

    &:visited {
        color: $text-link__color;
    }
}