@import '../core/Design';

.pager-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $std-padding;
    margin-top: $std-padding;
}

.pager-bar__button {
    color: $std-link-color;
    text-decoration: none;
    font-size: $std-font-size;
    padding: #{$std-padding * 0.75};
    border-radius: #{$std-border-radius / 2};
    @include neumorphic;
    text-transform: uppercase;
    
    &:visited {
        color: $std-link-color;
    }
    
    &.pager-bar__button--disabled {
        visibility: hidden;
    }
}

.pager-bar__label {
    font-size: $std-font-size;
    color: $std-text-color;
}