@import '../core/Design';

.section-title {
    font-family: $std-heading-font-family;
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 0 0 $std-padding 0;
    padding: 0 $std-padding;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
}

.section-paragraph {
    font-family: $std-font-family;
    margin: 0 0 $std-padding 0;
    padding: 0;
}