@import 'Colors';

// Standards

$std-padding: 2rem;
$std-background-color: $rich-black;
$std-text-color: $pale-purple-pantone;
$std-border-radius: 2rem;
$std-link-color: $arylide-yellow;
$std-font-family: Lato, sans-serif;
$std-font-size: 1rem;
$std-heading-font-family: Belgrano, serif;
$std-transition-time: 0.1s;

// Layout

$left-nav-width: 20rem;

// Breakpoints

@mixin for-mobile-and-down {
    @media (max-width: 768px) { @content; }
}

@mixin neumorphic {
    transform: translate3d(0, 0, 0);
    box-shadow: -0.25rem 0.25rem 1rem darken($std-background-color, 5%),
                        0.25rem -0.25rem 1rem lighten($std-background-color, 5%);
    transition: transform $std-transition-time, box-shadow $std-transition-time;

    &:active {
        transform: translate3d(0, 0.2rem, 0);
        box-shadow: -0.125rem 0.125rem 0.5rem darken($std-background-color, 5%),
                    0.125rem -0.125rem 0.5rem lighten($std-background-color, 5%);
    }
}