@import 'Colors';

// Standards

$std-padding: 2rem;
$std-background-color: $rich-black;
$std-text-color: $pale-purple-pantone;
$std-border-radius: 2rem;
$std-link-color: $arylide-yellow;
$std-font-family: Karla, sans-serif;
$std-font-size: 1rem;

// Breakpoints

@mixin for-mobile-and-down {
    @media (max-width: 768px) { @content; }
}