@page
@model UploadModel
@{
    Model.PageTitle = Model.TabTitle = "Upload photos";
}
@if(Model.ErrorMessages != null && Model.ErrorMessages.Any())
{
    <h3>Errors</h3>
    <ul>
        @foreach (var message in Model.ErrorMessages)
        {
            <li>@message</li>
        }
    </ul>
}
@if(Model.SuccessMessages != null && Model.SuccessMessages.Any())
{
    <h3>Successes</h3>
    <ul>
        @foreach (var message in Model.SuccessMessages)
        {
            <li>@message</li>
        }
    </ul>
}
<form asp-page="/photos/upload" method="POST" enctype="multipart/form-data">
    <input type="file" multiple asp-for="Files"/>
    <button type="submit">Submit</button>
</form>