@page
@model LoginModel
<h1>Login page!</h1>
<form asp-page="login" method="POST">
    <input asp-for="@Model.EmailAddress" type="text" />
    <input asp-for="@Model.Password" type="password" />
    <button type="submit">Go</button>
</form>