@page
@model LoginModel

@{
    Model.TabTitle = Model.PageTitle = "Log in";
}
<form asp-page="login" method="POST">
    <label asp-for="@Model.EmailAddress">Email</label>
    <input asp-for="@Model.EmailAddress" type="text" />
    <label asp-for="@Model.RememberMe">Remember me</label>
    <input asp-for="@Model.RememberMe" type="checkbox" />
    <button type="submit">Go</button>
</form>