@using Data.Models
@using Web.Auth
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
<header class="header">
    <a class="header__home-link" href="/">Home</a>
    <a class="header__link" href="/photos">Photos</a>
    <hr class="header__separator" />
    @if (signInManager.IsSignedIn(Context.User))
    {
        <span class="header__welcome-text">Hi, @User.FindFirst(Constants.FirstNameClaim).Value</span>
        <a class="header__link" href="/photos/upload">Upload photos</a>
        <form class="header__logout-form" asp-controller="auth" asp-action="logout" method="POST">
            <button class="header__link" type="submit">Log out</button>
        </form>
    }
    else
    {
        <a class="header__link" href="/login">Log in</a>
    }
</header>