@using Data.Models
@using Web.Auth
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
<nav>
    <a href="/">Home</a>
</nav>
@if (signInManager.IsSignedIn(Context.User))
{
    <text>Hi, @User.FindFirst(Constants.FirstNameClaim).Value</text>
    <nav>
        Quick actions
        <ul>
            <li>
                <a href="/photos/upload">Upload photos</a>
            </li>
        </ul>
    </nav>
    <form asp-controller="auth" asp-action="logout" method="POST">
        <button type="submit">Log out</button>
    </form>
}
else
{
    <nav>
        <a href="/login">Log in</a>
    </nav>
}
<nav>
    <ul>
        <li>
            Gallery
            <ul>
                <li>
                    <a href="/photos">Photos</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>