@using Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
</head>
<body>
    <header>
        @if (signInManager.IsSignedIn(Context.User))
        {
            <form asp-page-handler="logout" method="POST">
                <button type="submit">Log out</button>
            </form>
        }
        else
        {
            <a href="login">Log in</a>
        }
    </header>
    <main>
        @RenderBody()
    </main>
    @if (IsSectionDefined("LeftPanel"))
    {
        <aside>
            @RenderSection("LeftPanel", required: false)
        </aside>
    }
    <footer></footer>
</body>
</html>
