@model BasePageModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @if(!string.IsNullOrEmpty(Model.TabTitle))
        {
            <text>@Model.TabTitle - </text>
        }
        Simon Yates
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
    <link rel="stylesheet" type="text/css" href="~/styles/layout.css">
</head>
<body class="body">
    @if(!string.IsNullOrWhiteSpace(Model.BackgroundImageUrl))
    {
        <div class="body__background-image" style="background-image: url(@Model.BackgroundImageUrl)"></div>
    }
    <header class="header">
        <partial name="_Header"></partial>
    </header>
    <div class="body-container">
        @if (IsSectionDefined("LeftPanel"))
        {
            <aside class="left-panel">
                <section class="left-panel__content">
                    @RenderSection("LeftPanel", required: false)
                </section>
            </aside>
        }
        <main class="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>
