@model BasePageModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @if(!string.IsNullOrEmpty(Model.TabTitle))
        {
            <text>@Model.TabTitle - </text>
        }
        Simon Yates
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
    <link rel="stylesheet" type="text/css" href="~/styles/layout.css">
</head>
<body class="body">
    <partial name="_Header"></partial>
    <main class="main">
        @RenderBody()
    </main>
</body>
</html>
