@model BasePageModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @if(!string.IsNullOrEmpty(Model.TabTitle))
        {
            <text>@Model.TabTitle - </text>
        }
        Simon Yates
    </title>
</head>
<body>
    <header>
        <partial name="_Header"></partial>
    </header>
    @if(!string.IsNullOrEmpty(Model.PageTitle))
    {
        <h1>@Model.PageTitle</h1>
    }
    @if (IsSectionDefined("LeftPanel"))
    {
        <aside>
            @RenderSection("LeftPanel", required: false)
        </aside>
    }
    <main>
        @RenderBody()
    </main>
</body>
</html>
