@using Site.Keys
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
        <link rel="stylesheet" href="/styles/main.@(RazorKeys.CssBuildId).css">
    </head>
    <body class="body">
        <header class="left-nav">
            <div class="nav-hover-panel">
                <a class="nav-img-link" href="/">
                    <img class="nav-img" src="/images/IMG_0089.JPG" />
                </a>
                <h1 class="nav-title">Simon Yates</h1>
                <nav class="nav-links">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/photos/1">Photos</a>
                    <a class="nav-link" href="/about">About</a>
                </nav>
                <nav class="nav-sub-links">
                    <a class="text-link nav-sub-link" href="/privacy">Privacy</a>
                    <aside class="nav-sub-link">Built by <a class="text-link" href="https://github.com/josh-yates/" target="_blank">josh-yates</a></aside>
                </nav>
            </div>
        </header>
        <main class="right-main">
            @RenderBody()
        </main>
    </body>
</html>