@using Site.Keys
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
        <link rel="stylesheet" href="/styles/main.@(RazorKeys.CssBuildId).css">
    </head>
    <body class="body">
        <header class="left-nav">
            <a class="nav-icon-link" href="/">Home</a>
            <div class="nav-hover-panel">
                <nav>
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/photos/1">Photos</a>
                </nav>
            </div>
        </header>
        <main class="right-main">
            @RenderBody()
        </main>
    </body>
</html>