@{
    ViewBag.Title = "About";
}

<h2 class="section-title">Featured in DIVER magazine</h2>
<section class="image-grid">
    <a class="image-grid__image-link" href="/diver1.JPG">
        <img class="image-link__image" src="/diver1.JPG" />
    </a>
    <a class="image-grid__image-link" href="/diver2.JPG">
        <img class="image-link__image" src="/diver2.JPG" />
    </a>
</section>