@{
    ViewBag.Title = "Contact";
}

<h2 class="section-title">Contact me</h2>
<p class="section-paragraph">
    You can reach me at <a class="text-link" href="mailto:simon@simon-underwater.com">simon@simon-underwater.com</a>
</p>
<div class="placeholder-contact-form">Contact form - coming soon</div>