@using Statiq.Razor
@using Site.Models
@inherits StatiqRazorPage<HomePage>
<h2 class="section-title">Recent images</h2>
<section class="home-gallery-grid">
    @foreach (var item in Model.Images)
    {
        <a class="image-link" href="@item.Href">
            <img class="image" src="@item.Src" />
        </a>
    }
    <a class="text-link home-gallery-grid__more-link" href="/photos/1">See more</a>
</section>
