@using Statiq.Razor
@using Site.Models
@inherits StatiqRazorPage<HomePage>

    @foreach (var item in Model.Images)
    {
        <a href="@item.Href">
            <img src="@item.Src" />
        </a>
    }
