@using Statiq.Razor
@using Site.Models
@inherits StatiqRazorPage<HomePage>

<aside class="home-gallery-grid home-gallery-grid--@(Model.Images.Count)">
    @foreach (var item in Model.Images)
    {
        <a class="image-link" href="@item.Href">
            <img class="image" src="@item.Src" />
        </a>
    }
</aside>
