@using Statiq.Razor
@using Site.Models
@inherits StatiqRazorPage<HomePage>

@{
    ViewBag.Title = "Home";
}

<h2 class="section-title">Latest images</h2>
<section class="image-grid">
    @foreach (var item in Model.Images)
    {
        <a class="image-grid__image-link" href="@item.Href">
            <img class="image-link__image" src="@item.Src" />
        </a>
    }
    <nav class="image-grid__nav-tile">
        <a class="nav-tile__link" href="/photos/1">See more</a>
    </nav>
</section>
