<h2 class="section-title">Privacy policy</h2>
<p class="section-paragraph">
    This statement has been created to provide clarity on how simon-underwater.com (the "site") stores and uses your
    personal data, and how cookies are used on the site.
</p>
<p class="section-paragraph">
    The site does not collect or store any personal data. The site does not use any cookies.
</p>
<p class="section-paragraph">
    This information is correct as of February 10, 2021.
</p>